body{
    margin: 0px;
}
.headerImage{
    background-image: url("/static/images/index.png");
    height: 200px;
    background-size: cover;
}
ul{
    list-style-type: none;
    background-color: black;
    overflow: hidden;
    margin: 0px;
    position: sticky;
    top: 0px;
}


footer{
    background-color: black;
    position: fixed;
    bottom: 0px;
    width: 100vw;
}

li{
    float: left;
}
li a{
    display: block;
    padding: 16px;
    color: white;
}

li a:hover{
    background-color: gray;
}

.footerText{
    color: white;
    text-align: center;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
img{
    max-width: 80%;
    max-height: 80%;
}
.card{
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  width: 300px;
  height: 400px;
  margin: 10px auto;
  text-align: center;
  font-family: arial;
}

.prix {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    position: absolute;
    bottom: 6px;
    left: 0px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

form{
    width: 600px;
    padding: 10px;
    border-radius: 20px;
    margin: 0px auto;
}
.msg{
    margin: 10px;
    border: 1px solid gray;
    padding: 10px;
}
.contactForm{
    margin: 10px;
    border: 1px solid gray;
    padding: 10px;
}

#nav{
    position: sticky;
    top:0px;
    z-index: 20;
}
#cart{
    border: 1px solid white;
    border-radius: 10px;
    position: absolute;
    top:10px;
    right: 10px;
    height: 30px;
    color:white;
    min-width: 40px;
    text-align: center;
    line-height: 30px;
}
#cart:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.mystore{
    text-shadow: 2px 2px black ;
    position: absolute;
    line-height: 10vw;
    font: arial ;
    margin-left: 40px;
    color: black;
}
.myCircle{
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 10px;
    right: 10px;
    
}
.Product{
    border: 0.5px solid black;
    margin: 10px auto;
    width: 60%;
    height: 615px;
    padding: 20px;
    box-shadow: 0 8px 4px 0 black;
    
}
.description-product img{
    float: left;
    width: 300px;
    height: 200px;
}
.parts-product h1{
    font: arial;
    font-size: 40px;
}
.parts-product{
    text-align: center;
}
.description-product p{
    font-size: 40px;
}
#addComent{
    position: fixed;
    width: 80px;
    height: 80px;
    bottom: 40px;
    right: 7px;
    
}
.star{
    width: 35px;
    height: 35px;
}