{% extends "base.html" %}
{% block content%}
            <div id='Mrecomments'></div>
        {% if valid %}
            {% for msg in messages %}
                <div class='msg'>
                    <p><strong>Name : </strong>{{msg.nom}}</p>
                    <p><strong>Email : </strong>{{msg.email}}</p>
                    <p><strong>Date : </strong>{{msg.mdate}}</p>
                    
                    <div id="{{ msg.rate }}" class="rates">
                        
                    </div>
                    
                    <p><strong>Message : </strong><br>{{msg.message}}</p>
                </div>
            {% endfor %}
        {% endif %}
        <script src="/static/js/contact.js"></script>
        <div id="addComent"><img onclick="affciheFunction()" src="/static/images/addComent_.jfif" alt=""></div><br>
        <br>
        
        
{% endblock content%}